oidc_issuer = "http://127.0.0.1:5556/dex"
client_id = "gitlab"
client_secret = "gitlab-secret"
redirect_url = "http://app2:8081/callback"

listen_address = "app2:8081"

resource_my_book = "http://localhost:8090/my-repo"