oidc_issuer = "http://127.0.0.1:5556/dex"
client_id = "gitee"
client_secret = "gitee-secret"
redirect_url = "http://app1:8080/callback"

listen_address = "app1:8080"

resource_my_book = "http://localhost:8090/my-repo"